// Define variables for your color scheme

// For example:
$purple: #7400B8;
$deep-purple: #6930C3;
$blue-purple: #5E60CE;
$mid-blue: #4EA8DE;
$light-blue: #64DFDF;
$blue-green: #80FFDB;
$light-gray: #F4F4F4;
$dark-gray: #6e6d6d;
