.home-wrapper {
  padding : 0px 60px;
  color: rgba(0,0,0,0.8);
  height: 88vh;
}

#home-slogan {
  font-family: $body-font;
  font-weight: 400;
  font-size: 56px;
  margin-bottom: 56px;
  margin-top: 72px;
}

.header-underline {
  position: relative;
  z-index: 0;
  display: inline-block;
  font-weight: 500;
}


.header-underline::before {
  background-image: linear-gradient(120deg, $mid-blue 0%, $blue_green 100%);
  content: "";
  position: absolute;
  z-index: -2;
  bottom: 0;
  height: 25px;
  left: 11px;
  right: -11px;
}

.home-short-description {
  p {
    font-size: 22px;
    margin-bottom: 12px;
  }
}

.description-underline {
  position: relative;
  z-index: 0;
  display: inline-block;
}

#home-tata-monique {
  font-family: $headers-font;
  font-size: 32px;
}

.description-underline::before {
  background-image: linear-gradient(120deg, $mid-blue 0%, $blue_green 100%);
  content: "";
  position: absolute;
  z-index: -2;
  bottom: 0;
  height: 14px;
  left: 11px;
  right: -11px;
}

.home-buttons {
  margin-top: 80px;
  display: flex;
  width: 100%;
  .btn-col {
    flex-basis: 100%;
  }
}

.home-page-zen {
  margin-top: 48px;
  box-sizing: border-box;
  width: 100%;
  img{
    max-width: 100%;
  }
}

.banner-verbatim {
  background-image: linear-gradient(120deg, #91D3E2 0%, $blue_green 100%);
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px 16px;
}


// media queries //

//small devices
@media (max-width: 767px) {
  .home-page-zen {
    img {

    }
  }
  #home-slogan {
    font-size:30px;
    margin: 72px 0 20px 0px;
  }

  .home-short-description p {
    font-size:15px;
  }

  .home-short-description {
    width: 185px;
  }

  .home-buttons {
    margin-top:30px;
  }

  .home-wrapper {
    padding : 0px 40px;
    height: 78vh;
}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  }



// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}







