
<% if category == "casa" %>


  <div class="situation">
    <p>Je déménage</p>
    <div class="module-border-wrap">
      <div class="module">
        <i class="fas fa-arrow-right" id="go"></i>
      </div>
    </div>
  </div>
  <div class="situation">
    <p>Sinistre dans ma maison !</p>
    <div class="module-border-wrap">
      <div class="module">
        <i class="fas fa-arrow-right" id="go"></i>
      </div>
    </div>
  </div>
  <div class="situation">
    <p>Cambriolage</p>
    <div class="module-border-wrap">
      <div class="module">
        <i class="fas fa-arrow-right" id="go"></i>
      </div>
    </div>
  </div>
  <div class="situation">
    <p>Un nouvel arrivant dans la colloc</p>
    <div class="module-border-wrap">
      <div class="module">
        <i class="fas fa-arrow-right" id="go"></i>
      </div>
    </div>
  </div>


<% elsif category == "sante" %>
  <div class="situation">
    <p>Je suis enceinte</p>
    <div class="module-border-wrap">
      <div class="module">
        <i class="fas fa-arrow-right" id="go"></i>
      </div>
    </div>
  </div>
  <div class="situation">
    <p>Je change de mutuelle</p>
    <div class="module-border-wrap">
      <div class="module">
        <i class="fas fa-arrow-right" id="go"></i>
      </div>
    </div>
  </div>
  <div class="situation">
    <p>Je change de médecin traitant</p>
    <div class="module-border-wrap">
      <div class="module">
        <i class="fas fa-arrow-right" id="go"></i>
      </div>
    </div>
  </div>



<% elsif category == "boulot" %>
  <div class="situation">
    <p>Mon premier boulot !</p>
    <div class="module-border-wrap">
      <div class="module">
        <i class="fas fa-arrow-right" id="go"></i>
      </div>
    </div>
  </div>
  <div class="situation">
    <p>Je change de travail</p>
    <div class="module-border-wrap">
      <div class="module">
        <i class="fas fa-arrow-right" id="go"></i>
      </div>
    </div>
  </div>
  <div class="situation">
    <p>Je commence une formation</p>
    <div class="module-border-wrap">
      <div class="module">
        <i class="fas fa-arrow-right" id="go"></i>
      </div>
    </div>
  </div>


<% else %>
  <div class="situation">
    <p>J'ai trouvé l'amour !</p>
    <div class="module-border-wrap">
      <div class="module">
        <i class="fas fa-arrow-right" id="go"></i>
      </div>
    </div>
  </div>
  <div class="situation">
    <p>Et un de plus à la maison !</p>
    <div class="module-border-wrap">
      <div class="module">
        <i class="fas fa-arrow-right" id="go"></i>
      </div>
    </div>
  </div>
<% end %>

