<div class="container">
  <h1 id="title">Ma to do</h1>
  <% @tasks.each do |task| %>
    <div class="owl-task">
      <i class="fas fa-check" id="done"></i>
      <div class="task-card">
        <h2><span class="underline--magical"><%= task.organization %></span></h2>
        <h3><%= task.name %></h3>
        <p><%= task.description %></p>
        <%= link_to "link",  task_subtasks_path(task) %>
      </div>
    </div>
  <% end %>
</div>



