<div class="container">
  <div class="owl-edit">

    <div class="left-edit">
      <div class="changement">
        <h1>Je déclare un changement</h1>
      </div>


      <div class="owl-theme">
        <div class="theme" id="sante-change">
          <h2>La santé</h2>
          <div class="toggle-list-change" data-user-id="<%= current_user.id %>" data-category="sante">
            <i class="fas fa-plus-circle plus" ></i>
          </div>
        </div>
        <div class="list-change"></div>
      </div>


      <div class="owl-theme">
        <div class="theme" id="boulot-change">
          <h2>Le boulot</h2>
          <div class="toggle-list-change" data-user-id="<%= current_user.id %>" data-category="boulot">
            <i class="fas fa-plus-circle plus" ></i>
          </div>
        </div>
        <div class="list-change"></div>
      </div>


      <div class="owl-theme">
        <div class="theme" id="mif-change">
          <h2>La mif</h2>
          <div class="toggle-list-change" data-user-id="<%= current_user.id %>" data-category="mif">
            <i class="fas fa-plus-circle plus"></i>
          </div>
        </div>
        <div class="list-change"></div>
      </div>


      <div class="owl-theme">
        <div class="theme" id="casa-change">
          <h2>La casa</h2>
          <div class="toggle-list-change" data-user-id="<%= current_user.id %>" data-category="casa">
            <i class="fas fa-plus-circle plus"></i>
          </div>
        </div>
        <div class="list-change"></div>
      </div>
    </div>



    <div class="situation-form invisible">
      <p>ouais ouais ouais</p>
    </div>
  </div>
</div>
