<div class="footer d-flex justify-content-center">

  <div class="footer-content-wrapper d-flex flex-column align-items-center">

    <div class="footer-top d-flex justify-content-between">

      <div class="footer-contact">
        <h3>Nous contacter</h3>
        <p style="margin: 16px 0px 0px 0px">En détresse ?</p>
        <p style="margin: 16px 0px 0px 0px">La team Tata Monique est là pour toi <i class="fas fa-heart"></i></p>
        <p style="margin: 4px 0px 0px 0px">Du lundi au vendredi 10h à 18h</p>
        <p style="margin: 4px 0px 0px 0px"><i class="fas fa-phone"></i>  01 47 20 00 01</p>
        <div>
          <a href="mailto:sos@tatamonique.com" style="margin: 4px 0px 0px 0px"><p class = "underline--magical"><i class="fas fa-envelope"></i> sos@tatamonique.com</p></a>
        </div>
      </div>

      <div class="footer-about-us">
        <h3>A propos</h3>
        <div>
          <p class = "underline--magical" style="margin: 16px 0px 0px 0px; display: inline-block">Qui sommes-nous ?</p>
        </div>

        <div>
           <p class = "underline--magical" style="margin: 8px 0px 0px 0px; display: inline-block">Les valeurs de Tata Monique</p>
        </div>

        <div>
          <p class = "underline--magical" style="margin: 8px 0px 0px 0px; display: inline-block">Nous rejoindre</p>
        </div>

        <div>
          <p class = "underline--magical" style="margin: 8px 0px 0px 0px; display: inline-block">Mentions légales</p>
        </div>

      </div>

      <div class="footer-follow-us">
        <h3 class="noussuivre">Nous suivre</h3>

        <div class="footer-links d-flex justify-content-center">
          <div class="link-rounded d-flex justify-content-center align-items-center" style="margin-right:8px">
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
          <div class="link-rounded d-flex justify-content-center align-items-center" style="margin-right:8px">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
          <div class="link-rounded d-flex justify-content-center align-items-center">
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>

      </div>

    </div>

    <div class="footer-bottom d-flex flex-column justify-content-center align-items-center">

      <div class="footer-logo d-flex justify-content-between align-items-center">
        <%= image_tag("grandmother.png") %>
        <h1>Tata monique</h1>
      </div>

      <p>Copyright © 2020 Tata Monique. Tous droits réservés</p>

      <p id="made-by" style="margin-top: 12px; font-size: 10px">Fait avec <i class="fas fa-heart"></i> et beaucoup de <i class="fas fa-coffee"></i> par la team Tata Monique #441</p>

    </div>

  </div>

</div>

