<div class="footer d-flex justify-content-center">

  <div class="footer-content-wrapper d-flex flex-column align-items-center">

    <div class="footer-top d-flex justify-content-around">

      <div class="footer-contact">
        <h3>Nous contacter</h3>
        <p style="margin: 16px 0px 0px 0px">En détresse ?</p>
        <p style="margin: 8px 0px 0px 0px">La team Tata Monique est là pour toi</p>
        <p style="margin: 4px 0px 0px 0px">Du lundi au vendredi 10h à 18h</p>
        <p style="margin: 4px 0px 0px 0px"><i class="fas fa-phone"></i>  01 47 20 00 01</p>
        <p style="margin: 4px 0px 0px 0px"><i class="fas fa-envelope"></i>  sos@tatamonique.com</p>
      </div>

      <div class="footer-about-us">
        <h3>A propos</h3>
        <p style="margin: 16px 0px 0px 0px">Rencontrer notre équipe</p>
        <p style="margin: 8px 0px 0px 0px">Nos valeurs</p>
        <p style="margin: 8px 0px 0px 0px">Nous rejoindre</p>
        <p style="margin: 8px 0px 0px 0px">Mentions légales</p>
      </div>

      <div class="footer-follow-us">
        <h3>Nous suivre</h3>

        <div class="footer-links d-flex justify-content-center">
          <div class="link-rounded d-flex justify-content-center align-items-center" style="margin-right:8px">
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
          <div class="link-rounded d-flex justify-content-center align-items-center" style="margin-right:8px">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
          <div class="link-rounded d-flex justify-content-center align-items-center">
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>

      </div>

    </div>

    <div class="footer-bottom d-flex flex-column justify-content-center align-items-center">

      <div class="footer-logo d-flex justify-content-between align-items-center">
        <%= image_tag("grandmother.png") %>
        <h1>Tata monique</h1>
      </div>

      <p>Copyright © 2020 Tata Monique. Tous droits réservés</p>

      <p style="margin-top: 16px; font-size: 10px">Fait avec <i class="fas fa-heart"></i> et beaucoup de <i class="fas fa-coffee"></i> par la team Tata Monique #441</p>

    </div>

  </div>

</div>
