<div class="container-home">
  <div class="background-home">
    <%= image_tag "https://res.cloudinary.com/dnjssngdu/image/upload/v1598348424/Tata%20Monique/bryan-garces-IXUM4cJynP0-unsplash_ehhhcg.jpg", alt: "alttext", width:700%>
  </div>

  <div class="left-details">
    <div class="title">
      <p>Finie la phobie administrative, laisse-faire </p>
      <h2>Tata Monique</h2>
    </div>

    <div class="logo">
      <%= image_tag "https://res.cloudinary.com/dnjssngdu/image/upload/v1598346926/Tata%20Monique/grandmother_1_hduhv1.png", width:100 %>
    </div>
    <div class="button">
      <button type="button" class="btn btn-light"><%= link_to "Accéder à ma To-Do", root_path %></button>
    </div>

    <div class="team">
      <h3>Qui nous sommes</h3>
      <div class="team-elements">
        <div class="team-member-container">
          <img class="" src="https://res.cloudinary.com/dnjssngdu/image/upload/v1598359353/66635406_b4deyh.png" width="50px">
          <div class="description-member">
            Mathilde
          </div>
        </div>
        <div class="team-member-container">
          <img class="" src="https://res.cloudinary.com/dnjssngdu/image/upload/v1598360437/67050152_jqvglc.jpg" width="50px">
          <div class="description-member">
            Zaccharie
          </div>
        </div>
        <div class="team-member-container">
          <img class="" src="https://res.cloudinary.com/dnjssngdu/image/upload/v1598360437/50133505_u4ii1w.jpg" width="50px">
          <div class="description-member">
            Inès
          </div>
        </div>
        <div class="team-member-container">
          <img class="" src="https://res.cloudinary.com/dnjssngdu/image/upload/v1598360437/66314059_urgseg.jpg" width="50px">
          <div class="description-member">
            Léa
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

