<div class="container">
  <h1>Tous les documents</h1>
  <div class="docs">

    <% Document::CATEGORIES.each do |category| %>
      <div class="categoryrow">
        <div class="category-name">
          <%= category %>
        </div>
        <div class="category-docs">
          <% @documents.where(category: category).each do |document| %>
          <%= document.name %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

