<div class="container">
  <div class="row">
    <div class="col">
      <h1> <%=  @document.name %></h1>
      <h3> <%= @document.category %> </h3>
      <%= cl_image_tag @document.photo.key %>
    </div>
  </div>
</div>

