<div class="container">
  <h1 id="title">Hop, voilà quelques détails !</h1>
  <div class="chronology">
    <% @subtasks.each do |subtask| %>
      <div class="done-and-line">
        <% if Usersubtask.find_by(user:current_user, subtask:subtask).done %>
          <i class="fas fa-check done medium-done"></i>
          <div class="line-done-hor <%= "next-to-do" if !Usersubtask.find_by(user:current_user, subtask:subtask).next_is_done? %>"></div>
        <% elsif subtask == @active_subtask %>
          <i class="fas fa-times todo"></i>
          <div class="line-todo-hor"></div>
        <% elsif subtask == @subtasks.last %>
          <i class="fas fa-times todo medium-todo"></i>
        <% else %>
          <i class="fas fa-times todo medium-todo"></i>
          <div class="line-todo-hor"></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="centering">
    <div class="subtask-card">
      <div class="top-card">
        <h3><%= @active_subtask.name %></h3>
        <div class="corner-right">
          <p><%= @active_subtask.deadline %></p>
        </div>
      </div>
      <p><%= @active_subtask.description %></p>
      <div class="validate">
        <i class="fas fa-check done"></i>
      </div>
    </div>
  </div>

</div>
