<div class="container">
  <h1 id="title"><%= @task.name %></h1>
  <% @subtasks.each do |subtask| %>
    <div class="owl-task">
      <div class="task-card">
        <h3><%= subtask.name %></h3>
        <% if %>
        <p><%= subtask.description %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

