.task-card {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  width: 600px;
  padding: 20px 30px;
  margin: 15px 10px;
  border-radius: 16px;
  border: solid 1px white;
  .top-card {
    display: flex;
    justify-content: space-between;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 1rem;
  }
  transition: border 0.35s ease-in-out;
  &:hover {
    border: solid 1px $deep-purple;
    transition: border 0.35s ease-in-out;
  }
}


.subtask-card {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  width: 600px;
  padding: 20px 30px;
  margin: 15px 10px;
  border-radius: 16px;
  border: solid 1px white;
  .top-card {
    display: flex;
    justify-content: space-between;
  }
  .corner-right {
    p {
      font-size: 12px;
    }
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 1rem;
  }
  .validate {
    display: flex;
    justify-content: center;
    padding: 20px;
    .done {
      margin-right: 0px;
      filter: saturate(0);
    }
  }
}
