.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
  display: flex;
  justify-content: center;


}

.droparea {
  width: 100%;
  height: 300px;
  border: dashed 2px grey;
  border-radius: 5px;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  &.active {
    border-color: pink;
  }
}

.upload-validation {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}


.delete-img-btn {
  position: absolute;
  top: 0;
  right: 0;
}

#manual-input {
  display: flex;
  flex-direction: column;
}
