.footer {
  height: 150px;
  background-color: #32333D;
  padding : 20px 40px;


  // OPTION : background dégradé
  // background: linear-gradient(to right, $purple, $deep_purple, $blue_purple, #5390d9, $mid-blue, #48bfe3, #56cfe1, $light_blue, #72efdd, $blue_green);
}
