.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(45deg, #7400B8, #6930C3, #5E60CE);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
